<%= form_for(@micropost) do |f| %>
  <%#  f.object is @micropost %>
  <%= render "shared/error_messages", object: f.object   %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compos a new micropost..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>