/*
Setting up bootstrap
These two lines include the entire Bootstrap CSS framework.
An alternative way is to use the CDN linkes at
http://getbootstrap.com/getting-started/
*/

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}